body {
    font-size: 1em;
    font-family: 'Noto Serif', serif;
    color: #1f1f1f;
    margin: 0;
    padding: 0;
    border: 0;
    background: #f7f7f7;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-weight: normal;
    line-height: 1.25;
}

ul, li {
    margin: 0;
    padding: 0;
}

p {
    margin: 5px 0;
    font-size: 15px;
    color: #1f1f1f;
}

.clear {
    clear: both;
}

.main-container {
    width: 100%;
    min-height: 600px;
    height: 100%;
    padding: 0 5px;
}

h2.sub-header {
    font-weight: bold;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    font-size: 1.2em;
}

@media only screen and (min-width: 1200px) {
    .main-container {
        width: 90%;
        margin: 0 auto;
    }
}